
Body {
    background-color: darkgrey;
}
div {
    background-color: white;
}
.tweakdiv {
    border: solid grey 1px;
    padding: 10px;
    margin-bottom: 5px;
}
.header {
    background-color: white;
    border-bottom: solid red 2px;
    overflow: hidden;
    height: 100px;
    width: 100%;
    margin: auto;
}
.headertext {
    color: red;
    font-family: fantasy;
    font-size: 50px;
}
.leftcolumn {
    float: left;
    padding: 5px;
    margin: 15px;
    border: solid grey 1px;
}
.centercolumn {
    float: left;
    padding: 5px;
    margin-top: 10px;
    background-color: darkgrey;
}
.rightcolumn {
    float: left;
    padding: 5px;
    margin: 15px;
    border: solid grey 1px;
}
